#title-of-schedule{
  margin-top: 30px;
  font-family: 'Anta', sans-serif !important;
  color: white;
  background-color: rgba(255, 255, 255, 0.085);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  padding: 10px;
}
.text-white {
font-family: 'Anta', sans-serif !important;
}
#sched-btn {
  margin-top:20px;
}
#sched-form{
  margin-top: 30px;
}