#basic-Navbar-nav {
  font-family: 'Anta', sans-serif;
  color: #A5ACAF;
  margin-left: 5px;
}
#nav-bar-container{
  background-color: #004C54;
}
.brand-name{
  color:#A5ACAF;
  margin-left: 5px;
  font-family: 'Anta', sans-serif;
}
.mr-auto{
  margin-right:20px;
}