#basic-Navbar-nav {
  font-family: 'Anta', sans-serif;
  color: #A5ACAF;
  margin-left: 5px;
}
#nav-bar-container{
  background-color: #004C54;
}
.mr-auto{
  margin-right:20px;
}
.logo-img{
  height:100px;
  /* width: 100px; */
  margin-right:10px;
  margin-left: 10px;
}
/* .book-app {
  text-decoration: none; 
  color: #A5ACAF; 
}  */
